@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

.page-container {
  padding: 0 30px;
}

.p-highlight{
  @apply bg-custom-theme
}

.p-menuitem-link:hover{
  @apply bg-hover-theme
}
.p-menuitem-link{
  @apply bg-custom-theme
}
.p-menuitem-link>span {
  color: white
}
.p-icon {
  color: white
}

@media only screen and (max-width: 768px) {
  /* 768px is the width point of md in tailwind */
  .page-container {
    padding: 0 15px;
  }
}