@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

.page-container {
  padding: 0 30px;
}

.p-highlight{
  background-color: #14C673;
}

.p-menuitem-link:hover{
  background: #04df79;
}
.p-menuitem-link{
  background-color: #14C673;
}
.p-menuitem-link>span {
  color: white
}
.p-icon {
  color: white
}