@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

.page-container {
  padding: 0 30px;
}

@media only screen and (max-width: 768px) {
  /* 768px is the width point of md in tailwind */
  .page-container {
    padding: 0 15px;
  }
}